.filtercontainer {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding: 10px 20px;
    white-space: nowrap;
    margin-top: 25px;
}
.filteritem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    position: relative;
}
.filteritem,
.filterbutton,
.nextbutton {
    flex-shrink: 0;
}
@media (max-width: 768px){
    .filtercontainer{
        margin-right: -100px;
    }
}
.filteritem::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: transparent;
    border-radius: 2px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out, background-color 0.3s;
}

.filteritem:hover::after {
    width: 80%;
    left: 10%;
    background-color: grey;
}

.filteritem.active::after {
    width: 80%;
    left: 10%;
    background-color: black;
}
.filtericon, .filterlabel {
    color: #ddd;
}

.filteritem:hover .filtericon, 
.filteritem:hover .filterlabel {
    color: black;
}


.filtericon {
    font-size: 24px;
    margin-bottom: 5px;
}

.filterlabel {
    font-size: 14px;
    color: #333;
    font-weight: 500;
}
.filterbutton{
    border: 1px solid #ddd;
    text-align: center;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.filterbutton:hover{
    background-color: #ddd;
    border: 1px solid black;

}
.nextbutton{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #ddd;
}
.nextbutton:hover{
    background-color: #ddd;
    border: 1px solid black;
}
.iconstyle{
    font-size: 18px;
    text-align: center;
    align-items: center;
}